<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block current_name %}{% endblock %}
			{% if "meta_info" in g %}
				{{ gettext(" - ") }}
				{{ g.meta_info["name"] }}
			{% endif %}
		</title>
		<meta encoding="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='css/main.css') }}"
		>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='fa/css/all.css') }}"
		>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='css/fonts.css') }}"
		>
		<link
			rel="icon"
			href="{{ url_for('meta.view_icon') }}"
		>
		<script type="text/javascript">
			const API_URL = "{{ config['PUBLIC_API_URL'] }}";
		</script>
		<script
			type="text/javascript"
			src="{{ url_for('static', filename='js/locales/en.js') }}"
		></script>
		{% block head %}{% endblock %}
		{% if config["BABEL_DEFAULT_LOCALE"] != "en" %}
			<script
				type="text/javascript"
				src="{{
					url_for(
						'static',
						filename='js/locales/' + config['BABEL_DEFAULT_LOCALE'] + '.js'
					)
				}}"
			></script>
		{% endif %}
	</head>
	<body>
		<header>
			{% if "meta_info" in g %}
				<div class="header-left">
					<a
						class="header-item"
						href="{{ url_for('forum.list_') }}"
					>
						{{ g.meta_info["name"] }}
					</a>
				</div>
			{% endif %}
			<div class="header-center">
				<div class="header-item highlighted">
					{{ self.current_name() }}
				</div>
			</div>
			{% if "user" in g %}
				<div class="header-right">
					<div class="dropdown" tabindex="0">
						<div class="dropdown-button header-item">
							{% if g.user["name"] == "" or g.user["name"] is none %}
								{% if g.user["registered_by"] == "guest" %}
									{{ gettext("Guest") }}
								{% else %}
									{{ gettext("Unnamed") }}
								{% endif %}
							{% else %}
								{{ g.user["name"] }}
							{% endif %}
						</div>
						<div class="dropdown-content">
							<a
								class="dropdown-item"
								href="#"
							>
								{% if g.user["registered_by"] == "guest" %}
									{{ gettext("Your temporary profile") }}
								{% else %}
									{{ gettext("Your profile") }}
								{% endif %}
							</a>
							
							{% if "view" in g.message_allowed_actions %}
								<a
									class="dropdown-item"
									href="{{ url_for('message.list_') }}"
								>
									{{ gettext("Messages") }}
									
									{% if g.unread_message_count != 0 %}
										<span class="message-unread-circle">
											{{ g.unread_message_count }}{% if g.unread_message_count == 501 %}{{ gettext("+") }}{% endif %}
										</span>
									{% endif %}
								</a>
							{% endif %}
							
							<a
								class="dropdown-item"
								href="#"
							>{{ gettext("Options") }}</a>
							{% if g.user.registered_by == "guest" %}
								<a
									class="dropdown-item"
									href="{{ url_for('account.login') }}"
								>{{ gettext("Log in") }}</a>
							{% else %}
								<a
									class="dropdown-item"
									href="{{ url_for('account.logout') }}"
								>{{ gettext("Log out") }}</a>
							{% endif %}
							<a
								class="dropdown-item"
								href="{{ url_for('account.register') }}"
							>{{ gettext("Register") }}</a>
						</div>
					</div>
				</div>
			{% endif %}
		</header>
		<main>{% block content %}{% endblock %}</main>
		<footer>
			
		</footer>
	</body>
</html>
