{% extends 'base.html' %}

{% block current_name %}{{ gettext("Write a message") }}{% endblock %}

{% block head %}<script
	type="text/javascript"
	src="{{ url_for('static', filename='js/forge.js') }}"
></script>
<script
	type="text/javascript"
	src="{{ url_for('static', filename='js/simplemde.js') }}"
></script>
<script
	type="text/javascript"
	src="{{ url_for('static', filename='js/api.js') }}"
></script>
<script
	type="text/javascript"
	src="{{ url_for('static', filename='js/message_create.js') }}"
></script>


<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/simplemde.css') }}"
>

<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/message_create.css') }}"
>{% endblock %}

{% block content %}
	<section class="main-center">
		<noscript>
			<div class="window">
				<p>
					{{
						gettext(
							"Sorry, encrypted messaging with JavaScript disabled is not possible "
							"to do without encrypting messages manually outside the browser. If "
							"you know what you're doing and want to send a message that way, go "
						)
					}} <a
						href="#"
					>{{ gettext("here") }}</a>{{ gettext(".") }}
				</p>
			</div>
		</noscript>

		<section id="message-form-wrapper" class="window">
			<div id="receiver-wrapper">
				<input
					id="receiver-name"
					type="text"
					placeholder="{{ gettext('Receiver') }}"
					autocomplete="off"
					oninput="getReceiverList()"
				>

				<ul id="receiver-search-view"></ul>
			</div>

			<div id="directory-wrapper">
				{{ form.directory(form="message-form") }}
			</div>

			<div id="content-wrapper">
				<!--
					WARNING: THIS CAN NEVER BE SENT IN THE FORM! The server should never
					         be able to see plaintext versions of messages.
				-->
				<textarea
					id="content"
					placeholder="{{ gettext('Content') }}"
					autocomplete="off"
				></textarea>
			</div>

			<form method="post" id="message-form">
				{{ form.hidden_tag() }}

				{{ form.receiver_id }}
				{{ form.encrypted_session_key }}
				{{ form.iv }}
				{{ form.tag }}
				{{ form.encrypted_content }}
			</form>

			<button
				id="message-form-send"
				onclick="sendMessage()"
			>{{ gettext("Send") }}</button>
		</section>

		<script type="text/javascript">
			var simplemde = new SimpleMDE({
				element: document.getElementById("content"),
				autoDownloadFontAwesome: false,
				autofocus: true,
				forceSync: true,
				spellChecker: false
			});
		</script>
	</section>
{% endblock %}
