{% extends 'base.html' %}

{% block current_name %}{{ gettext("Register") }}{% endblock %}

{% block head %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/register.css') }}"
>{% endblock %}

{% block content %}
	<section class="window main-center">
		<h1>Register</h1>
		<form method="post" class="register-form">
			<div>
				{{
					form.email(
						size=32,
						placeholder=form.email.label.text
					)
				}}
			</div>
			<div>
				{{
					form.password(
						size=32,
						placeholder=form.password.label.text
					)
				}}
			</div>
			<div class="tos-wrapper">
				<a
					href="{{ url_for('tos.view') }}"
				>{{ gettext("Terms of service") }}</a>
			</div>
			<div>
				{{ form.submit }}
			</div>
		</form>
	</section>
{% endblock %}
