{% extends 'base.html' %}

{% block current_name %}{{ gettext("Terms of service") }}{% endblock %}

{% block content %}
	<section class="window main-center">
		<h1>Terms of service</h1>
		{{ tos|safe }}
	</section>
{% endblock %}
