.forum-wrapper {
	padding: 5px;
	display: grid;
	grid-template-columns: 0.4fr 0.3fr 0.3fr;
}

.forum-latest-thread {
	text-align: right;
	display: grid;
	grid-template-columns: auto 50px;
	grid-column-gap: 7.5px;
}

.forum-counters {
	text-align: center;
}

.forum-no-threads {
	grid-column-start: 1;
	grid-column-end: 3;
}
