/*
Google dark color scheme

:root {
	--color-base: #212121;
	--color-base-lighter: #323232;
	--color-object: #0d7377;
	--color-highlight: #14ffec;
	--color-text-normal: #fff;
	--color-text-secondary: #e6e6e6;
}
*/

:root {
	--color-base: #212121;
	--color-base-lighter: #242424;
	--color-object: #2b2a2a;
	--color-highlight: #373737;
	--color-text-normal: #dbdbdb;
	--color-text-secondary: #aeaeae;
}

.dropdown {
	display: inline-block;
}

.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown-content:focus-within {
	display: block;
}

.dropdown:hover .dropdown-button,
.dropdown:focus .dropdown-button {
	background: var(--color-object);
}

.dropdown-button {
	position: relative;
	transition: .15s;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background: var(--color-base-lighter);
	text-align: left;
	z-index: 10;
}

.dropdown-content .dropdown-item {
	display: block;
	padding: 10px;
	transition: .15s;
}

.dropdown-content .dropdown-item:hover,
.dropdown-content .dropdown-item:focus {
	background: var(--color-object);
}

.highlighted {
	background: var(--color-highlight);
	color: var(--color-text-normal);
}

.main-left {
	grid-area: left;
}

.main-center {
	grid-area: main;
}

.main-right {
	grid-area: right;
}

.message-unread-circle {
	display: inline-block;
	min-width: calc(1em + 4px);
	max-width: calc(1em + 4px);
	padding: 2px;
	border-radius: 50%;
	background: var(--color-highlight);
	text-align: center;
}

.text-secondary {
	color: var(--color-text-secondary);
}

.window {
	background: var(--color-object);
	box-shadow: 5px 5px 0 1.25px var(--color-base-lighter);
	color: var(--color-text-normal);
	display: block;
	padding: 10px;
}

.window:not(:last-child) {
	margin-bottom: 10px;
}

.window h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.window h1:not(:first-child) {
	margin-top: 5px;
}

.window h1:not(:last-child) {
	margin-bottom: 5px;
}

.window h2 {
	margin-top: 0;
	margin-bottom: 0;
}

.window h2:not(:first-child) {
	margin-top: 4px;
}

.window h2:not(:last-child) {
	margin-bottom: 4px;
}

.window h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.window h3:not(:first-child) {
	margin-top: 3px;
}

.window h3:not(:last-child) {
	margin-bottom: 3px;
}

.window h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.window h4:not(:first-child) {
	margin-top: 2px;
}

.window h4:not(:last-child) {
	margin-bottom: 2px;
}

.window h5 {
	margin-top: 0;
	margin-bottom: 0;
}

.window h5:not(:first-child) {
	margin-top: 1px;
}

.window h5:not(:last-child) {
	margin-bottom: 1px;
}

.window h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.window p {
	margin-top: 0;
}

.window p:last-child {
	margin-bottom: 0;
}

.window textarea,
.window input,
.window button {
	background: var(--color-highlight);
	color: var(--color-text-normal);
}

a {
	color: unset;
}

body {
	background: var(--color-base);
	color: var(--color-text-normal);
	display: grid;
	font-family: "Roboto Mono", monospace;
	grid-template-areas: 
		"header"
		"main"
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}

button, .button {
	display: inline-block;
	padding: 10px;
	border: 0;
	background: var(--color-object);
	color: var(--color-text-normal);
	font-family: "Roboto Mono", monospace;
	text-decoration: none;
}

header {
	background: var(--color-base-lighter);
	display: grid;
	grid-area: header;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	align-items: center;
}

header .header-item {
	padding: 10px;
	transition: .15s;
	display: inline-block;
}

header .header-center {
	overflow: hidden;
	line-break: anywhere;
	text-align: center;
}

header .header-right > * {
	max-width: 100%;
	overflow: hidden;
	text-overflow: "...";
	white-space: nowrap;
	vertical-align: text-top;  /* https://stackoverflow.com/q/20566710 */
}

header .header-right {
	text-align: right;
}

header a {
	text-decoration: none;
}

header a.header-item:not(.highlighted):hover {
	background: var(--color-object);
}

hr {
	border: 1px solid var(--color-highlight);
}

html, body {
	margin: 0;
	padding: 0;
}

input {
	background: var(--color-object);
	border: 0;
	color: var(--color-text-normal);
	font-family: "Roboto Mono", monospace;
	padding: 10px;
	font-size: medium;
}

input[type="submit"]:hover {
	cursor: pointer;
}

main {
	grid-area: main;
	overflow: auto;
	padding: 10px;
	display: grid;
	align-items: flex-start;
	grid-template-columns: 1fr minmax(0, 1250px) 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "left main right";
}

select {
	background: var(--color-highlight);
	border: 0;
	color: var(--color-text-normal);
	padding: 10px;
	font-family: "Roboto Mono", monospace;
}

textarea {
	border: 0;
	color: var(--color-text-normal);
	font-family: "Roboto Mono", monospace;
	background: var(--color-object);
}
