#content {
	width: 100%;
	height: 150px;
	margin-bottom: 10px;
	resize: none;
}

#message-form-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: max-content max-content max-content; 
	gap: 10px; 
	grid-template-areas: 
		"receiver directory"
		"content content"
		"controls controls"; 
}

#message-form {
	display: none;
}

#message-form-send {
	grid-area: controls;
	justify-self: end;
}

#receiver-wrapper {
	grid-area: receiver;
	display: flex;
	flex-flow: column;
}

#directory-wrapper {
	grid-area: directory;
	display: flex;
	flex-direction: column;
}

#directory {
	font-size: medium;
}

#content-wrapper {
	grid-area: content;
}

#receiver-search-view {
	padding: 0;
	list-style-type: none;
	max-height: 150px;
	overflow-y: scroll;
}

.receiver-search-item {
	display: flex;
	cursor: pointer;
	transition: 0.15s;
	padding: 7.5px;
}

.receiver-search-item:hover,
.receiver-search-item:focus {
	background: var(--color-highlight);
}

.receiver-search-avatar {
	margin-right: 10px;
}
