#manual-privkey-input-wrapper,
#privkey-decrypt-wrapper {
	transition: 0.15s;
}

#manual-privkey-input {
	width: 100%;
	height: 150px;
	margin-bottom: 10px;
	resize: none;
}

#new-message-wrapper {
	text-align: right;
	margin-bottom: 5px;
}

#message-window-wrapper {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	grid-template-rows: 1fr; 
	gap: 0px 7.5px;
	padding: 7.5px;
	grid-template-areas: 
		"list view view"; 
}

#message-directory-list-wrapper {
	grid-area: list;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#message-view-wrapper {
	grid-area: view;
}

.message-directory {
	padding: 15px;
	background: var(--color-highlight);
	transition: .15s;
	cursor: pointer;
}

.message-directory:hover {
	background: var(--color-object);
}

.message-directory-selected {
	background: var(--color-object) !important;
}

.message-directory-selected:hover {
	ckground: var(--color-highlight) !important;
}

.message-view-no-messages {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
}
